{% extends "base.html" %}

{% block title %}
Learn to Code the Smart Way
{% endblock %}

{% block body %}

<section class="home-sec1" data-aos="fade" data-aos-duration="800" data-aos-delay="200">

    <div class="main-div1">
        <div class="child-div">
            <h1>Get <span class="pink-text-color">2500+</span><br>
                Best Online Courses From CodePilot</h1>
            <p>Learn to Code the Smart Way With CodePilot</p>
            <a href="{% url 'courses' %}">
                <button class="parentbtn cbtn">Find Courses <i class="fa-solid fa-arrow-right-long ml-1"
                        id="faArrow"></i></button>
            </a>
        </div>
        <div class="child-div">
            <img src="../static/image/hbg2.webp" alt="bgimg" style="z-index: 0 !important;">
        </div>

        <div class="parent-abs">
            <div class="abs-div1 follow-cursor">
                <img src="../static/image/hbg1.png" alt="bgimg">
            </div>
            <div class="abs-div2 ">
                <img src="../static/image/hbg3.png" alt="bgimg">
            </div>
            <div class="abs-div3 follow-cursor">
                <img src="../static/image/hbg4.png" alt="bgimg">
            </div>
            <div class="abs-div4 follow-cursor">
                <img src="../static/image/hbg5.png" alt="bgimg">
            </div>
            <div class="abs-div5">
                <h5>Instructor</h5>
                <span class="insturctor-div">
                    <img src="../static/image/home_instruct_bg.png" alt="bgimg">
                    <span><span style="color: #EE4A62;">200+</span> Instructors</span>
                </span>
            </div>
            <!-- gold round  -->
            <div class="abs-div6 follow-cursor">

            </div>
        </div>
    </div>
</section>

<section class="home-sec2">

    <div class="main-div2">
        <div class="child-div2 my-border">
            <div class="round-div">
                <i class="fa-solid fa-laptop-code"></i>
            </div>
            <div>
                <p>3020</p>
                <p>Online Courses</p>
            </div>
        </div>

        <div class="child-div2 my-border">
            <div class="round-div">
                <i class="fa-solid fa-chalkboard-user"></i>
            </div>
            <div>
                <p>Top</p>
                <p>Instructors</p>
            </div>
        </div>

        <div class="child-div2 my-border">
            <div class="round-div">
                <i class="fa-solid fa-scroll"></i>
            </div>
            <div>
                <p>Online</p>
                <p>Certifications</p>
            </div>
        </div>

        <div class="child-div2">
            <div class="round-div">
                <i class="fa-solid fa-users"></i>
            </div>
            <div>
                <p>6,000</p>
                <p>Membership</p>
            </div>
        </div>

    </div>

</section>

<section class="home-sec3" data-aos="fade-up" data-aos-duration="1000">

    <div class="main-div3">
        <div class="text-box">
            <h1>Top Categories</h1>
            <img src="../static/image/span-img.png" alt="" class="design-span">
            <p>Get ready for your dream career with practical and easy-to-learn online courses.</p>
        </div>

        <div class="container-grid">
            <div class="div-grid" onclick="redirectToCourses('full_stack')">
                <i class="fa-solid fa-laptop"></i> Full Stack Development
            </div>
            <div class="div-grid" onclick="redirectToCourses('mobile_app')">
                <i class="fa-solid fa-mobile-screen-button"></i> Mobile App Development
            </div>
            <div class="div-grid" onclick="redirectToCourses('data_science')">
                <i class="fa-solid fa-brain"></i> Data Science
            </div>
            <div class="div-grid" onclick="redirectToCourses('data_analytics')">
                <i class="fa-solid fa-magnifying-glass-chart"></i> Data Analytics
            </div>
            <div class="div-grid" onclick="redirectToCourses('software_testing')">
                <i class="fa-solid fa-microscope"></i> Software Testing
            </div>
            <div class="div-grid" onclick="redirectToCourses('digital_marketing')">
                <i class="fa-solid fa-tachograph-digital"></i> Digital Marketing
            </div>
            <div class="div-grid" onclick="redirectToCourses('ux_ui')">
                <i class="fa-solid fa-compass-drafting"></i> UX/UI Design
            </div>
            <div class="div-grid" onclick="redirectToCourses('cyber_security')">
                <i class="fa-solid fa-shield-halved"></i> Cyber Security
            </div>
        </div>


    </div>

</section>

<section class="home-sec4" data-aos="fade-up" data-aos-duration="1000">
    <div class="text-box">
        <p>popular courses</p>
        <h1>Pick A Course To Get Started</h1>
        <img src="../static/image/span-imgs.png" alt="" class="design-span">
    </div>

    <div class="courses-container">
        {% for course in courses %}
        <div class="courses-maindiv">
            <a href="{% url 'course_detail' course.id %}" style="text-decoration: none; color: black;">

                <video width="100%" height="200" controls
                    style="border-top-left-radius: 3px;border-top-right-radius:3px;">
                    <source src="{{ course.promo_video.url }}" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
                <div class="courses-child">
                    <div class="child-absdiv">
                        <p><i class="fa-regular fa-clock"></i> {{ course.duration }}</p>
                    </div>

                    <p class="courses-level">{{ course.level }}</p>
                    <p class="courses-name">{{ course.course_name }} <br> <span>{{ course.subcategory }}</span></p>
                    <p><i class="fa-solid fa-star" style="color: gold;"></i> {{ course.rating }}</p>
                    <p class="courses-price">₹{{ course.price }}</p>
                    <div class="child-flex">
                        <p class="courses-student"><i class="fa-regular fa-user"></i>{{ course.students_enrolled }}
                            Students
                        </p>
                        <p class="courses-badge">{{ course.badge }}</p>
                    </div>
                </div>
                <div class="courses-absdiv">
                    <button class="add-fav" {% if not request.user.is_authenticated %} data-toggle="modal"
                        data-target="#exampleModalCenter" data-bs-dismiss="offcanvas" onclick="showLoginMessage()" 
                        {% else %} data-id="{{ course.id }}" {% endif %}>
                        {% if course in favorite_courses %}
                        <i class="fa-solid fa-heart text-danger"></i>
                        {% else %}
                        <i class="fa-regular fa-heart"></i>
                        {% endif %}
                    </button>


                    <p class="abs-level" style="color: black !important;">{{ course.level }}</p>
                    <h6>{{ course.course_name }} <br> <span
                            style="text-transform: uppercase;">{{course.subcategory}}</span>
                    </h6>
                    <p><i class="fa-solid fa-star" style="color: gold;"></i> {{ course.rating }}</p>
                    <p>₹{{ course.price }}</p>
                    <p class="courses-desc">{{ course.short_description }}</p>
                    <div class="child-flex">
                        <p class="courses-student cs"><i class="fa-regular fa-user"></i>{{ course.students_enrolled }}
                            Students
                        </p>
                        <p class="courses-badge">{{ course.badge }}</p>
                    </div>
                    <a href="{% url 'course_detail' course.id %}">
                        <button class="enroll-btn">Enroll Now <i class="fa-solid fa-arrow-right-long ml-1"
                                id="faArrow"></i></button>
                    </a>
                    <!-- messgae  of fav
            <div id="fav-toast"> 
                Added to favorites!
            </div> -->
                </div>
            </a>
        </div>
        {% empty %}
        <p>No courses available.</p>
        {% endfor %}
    </div>

    <a href="{% url 'courses' %}" class="atag"><button class="parentbtn allbtn">Browse more courses <i
                class="fa-solid fa-arrow-right-long ml-1" id="faArrow"></i></button></a>
</section>

<section class="home-sec5">
    <div class="main-div4">

    </div>
    <div class="main-div5">

    </div>
    <div class="main-counter-div">
        <div class="counter-div1">
            <h1 class="counter" data-target="45.2">0</h1>
            <p>Students Enrolled</p>
        </div>

        <div class="counter-div2">
            <h1 class="counter" data-target="32.4">0</h1>
            <p>Classes Completed</p>
        </div>

        <div class="counter-div3">
            <h1 class="counter" data-target="354" data-suffix="+">0</h1>
            <p>Top Instructors</p>
        </div>

        <div class="counter-div4">
            <h1 class="counter" data-target="99.9" data-suffix="%">0</h1>
            <p>Satisfaction Rate</p>
        </div>
    </div>
    <!-- for left right top bottom movements  class name follow-cursor-->
    <div class="counter-abs1 follow-cursor">
        <img src="../static/image/hbg1.png" alt="">
    </div>

    <div class="counter-abs2">
        <img src="../static/image/hbg3.png" alt="">
    </div>

    <div class="counter-abs3 follow-cursor">
        <img src="../static/image/hbg6.png" alt="">
    </div>

    <div class="counter-abs4 follow-cursor">
        <img src="../static/image/hbg4.png" alt="">
    </div>

</section>

<section class="home-sec6">

    <div class="contact-relative">
        <div class="contact-abs1 follow-cursor"><img src="../static/image/hbg1.png" alt=""></div>
        <div class="contact-abs2 follow-cursor"><img src="../static/image/hbg4.png" alt=""></div>
        <div class="contact-abs3 follow-cursor"><img src="../static/image/hbg7.png" alt=""></div>

        <div class="contact-main-div">
            <div class="contact-text1">
                <p>Get In Touch:</p>
                <h4>info@codepilot</h4>
            </div>
            <div class="contact-or"><span>or</span></div>
            <div class="contact-text2">
                <p>Call Us Via:</p>
                <h4>+91 123 456 7890</h4>
            </div>
        </div>

    </div>
</section>


<section class="home-sec7" data-aos="fade-up" data-aos-duration="1000">
    <div class="text-box">
        <p>instructors</p>
        <h1>Course Instructors</h1>
        <img src="../static/image/span-img.png" alt="" class="design-span">
    </div>

    <div class="insturctor-main-div">
        {% for instructor in instructors %}

        <div class="instructor-child-div">
            <div class="inner-relative-div">
                <img src="{{ instructor.profile_image.url }}" alt="no image available">

                <div class="instructor-abs1">
                    <i class="fa-solid fa-share-nodes"></i>
                </div>
                <div class="instructor-abs2">
                    <div class="inner-child">
                        <div><i class="fa-solid fa-share-nodes"></i></div>
                        <div><i class="fa-brands fa-facebook-f"></i></div>
                        <div><i class="fa-brands fa-twitter"></i></div>
                        <div><i class="fa-brands fa-linkedin-in"></i></i></div>
                    </div>
                </div>

            </div>
            <h5>{{ instructor.name }}</h5>
            <p>{{ instructor.profession }}</p>
            <a href="{% url 'instructor_detail' instructor.id %}">
                <button>View Profile</button>
            </a>
        </div>
        {% empty %}
        <p>No instructors available.</p>
        {% endfor %}
    </div>
</section>

<section class="home-sec8">
    <div class="main-container-div">
        <h1>Get Your Quality Skills <span class="pink-text-color">Certificate</span> Through CodePilot</h1>
        <a href="{% url 'courses' %}" class="atag"><button class="parentbtn nowbtn">Get started now <i
                    class="fa-solid fa-arrow-right-long ml-1" id="faArrow"></i></button></a>
        <div class="sec8-abs1 follow-cursor"><img src="../static/image/hbg1.png" alt=""></div>
        <div class="sec8-abs2 follow-cursor"><img src="../static/image/hbg4.png" alt=""></div>
        <div class="sec8-abs3 follow-cursor"><img src="../static/image/hbg5.png" alt=""></div>
    </div>
</section>

<section class="home-sec9">

    <div class="sec9-flex">
        <div class="text-box">
            <p>OUR PARTNERS</p>
            <h1>Learn with Our Partners</h1>
            <img src="../static/image/span-img.png" alt="" class="design-span">
            <p style="text-transform: none;font-size: 16px;">We collaborate with industry-leading partners to bring you
                high-quality learning experiences, real-world
                insights, and career-ready skills.</p>
        </div>
        <div class="main-container-grid">

            <img src="../static/image/brand-01.png" alt="our parterns img">
            <img src="../static/image/brand-02.png" alt="our parterns img">
            <img src="../static/image/brand-03.png" alt="our parterns img">
            <img src="../static/image/brand-04.png" alt="our parterns img">
            <img src="../static/image/brand-05.png" alt="our parterns img">
            <img src="../static/image/brand-06.png" alt="our parterns img">
            <img src="../static/image/brand-07.png" alt="our parterns img">
            <img src="../static/image/brand-08.png" alt="our parterns img">

        </div>
    </div>

</section>


{% endblock %}


<!-- 🔥 You can use:

official link : https://michalsnik.github.io/aos/

data-aos="fade-up", fade-down, zoom-in, flip-left, etc.

data-aos-delay="200" for delay

data-aos-duration="800" for smooth timing

YouTube Tutorials:
Search: "AOS scroll animation tutorial" — Many quick 5-10 min tutorials available.-->